@import url('https://fonts.googleapis.com/css2?family=Arapey&family=Gloock&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arapey&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  background-color: rgb(252, 246, 238);
  color: #ab5129;
  scroll-behavior: smooth;
  margin: 10px;
}
/* ----- HEADER ----- */
.header {
  text-align: center;
  font-size: 30px;
  font-family: 'Gloock', serif;
  background-color: #ebffa1;
  color: #ab5129;
  text-decoration: none;
  margin: 8px;
}

.header img {
  width: 250px;
  margin: 0px;
}

.link {
  display: inline;
  margin: 10px;
  cursor: pointer;
}

/* ----- HOME ----- */
.home {
  font-family: 'Arapey', serif;
  font-size: 15px;
}
.quote {
  text-align: center;
  margin: 25px;
  font-size: 17px;
}

/* ----- ABOUT ----- */

.about h1 {
  margin: 10px;
  font-size: 35px;
}

.aboutUs {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 15px;
  font-size: 19px;
}

.aboutUs img {
  width: 240px;
  margin: 10px;
  border: 1px solid #ab5129;
  border-radius: 10px;
}

.aboutUs h2 {
  margin-inline: 20px;
  margin-top: 90px;
  list-style: none;
}

/* ----- SERVICES ----- */
.services {
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.services h1 {
  margin-bottom: 10px;
  font-size: 35px;
}

.services h2 {
  font-size: 20px;
}

.services-card {
  border: 1px solid gray;
  border-radius: 10px;
  padding: 5px;
  width: 300px;
  margin: 10px;
}

/* ----- CONTACT ----- */
.contact {
  margin: 10px;
  text-align: center;
  font-size: 19px;
}

/* ----- FOOTER ----- */
.footer {
  margin-top: 50px;
  text-align: center;
}
