@import url('https://fonts.googleapis.com/css2?family=Arapey&family=Gloock&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arapey&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  background-color: rgb(252, 246, 238);
  color: #ab5129;
  scroll-behavior: smooth;
}
/* ----- HEADER ----- */
.header {
  text-align: center;
  font-size: 30px;
  font-family: 'Gloock', serif;
  background-color: #ebffa1;
  margin-bottom: 50px;
  color: #ab5129;
  text-decoration: none;
  margin: 8px;
  text-align: center;
}

.header img{
  width: 250px;
  margin: 0px;
}

.link {
  display: inline;
  margin: 10px;
}

/* ----- HOME ----- */
.home {
  font-family: 'Arapey', serif;
  font-size: 15px;
}
.quote {
  text-align: center;
  margin: 25px;
}

/* ----- ABOUT ----- */
.about {
  background-color: #ebffa1;
}

.aboutUs {
  display: flex;
  font-size: 19px;
}

.aboutUs img {
  width: 240px;
  margin: 10px;
}

.aboutUs p {
  margin: 20px;
}

/* ----- SERVICES ----- */


/* ----- CONTACT ----- */
.contact {
  background-color: #ebffa1;
}

/* ----- FOOTER ----- */
.footer {
  margin-top: 50px;
  text-align: center;
}
